<%- include('../partials/header') %>

<main id="main" class="main-page">

  <form action="/users/login" method="post" class="auth-form">
    <h1 class="align-center"><a href="/"><i class="fa fa-pencil fa-logo"></i></a></h1>
    <h2 class="align-center">Please sign in</h2>
    <!-- <label for="inputEmail" class="sr-only">Username</label> -->
    <input name="username" type="text" class="form-control" placeholder="Username" required>
    <!-- <label for="inputPassword" class="sr-only">Password</label> -->
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="align-center">
      <button class="auth-submit-btn" type="submit">Log in</button>
      <p style="font-size: 12px">Don't have an accout yet? <a href="/users/signup">Sign up</a></p>
    </div>

  </form>

</main>

<%- include('../partials/footer') %>
