<%- include('../partials/header') %>

<main id="main" class="main-page">

  <form action="/users/signup" method="post" class="auth-form">
    <h1 class="align-center"><a href="/"><i class="fa fa-pencil fa-logo"></i></a></h1>
    <h2 class="align-center">Create An Account</h2>
  	<div class="align-center">
  		<label>Student or instructor?</label>
  		<select name="type" class="signup-select">
  			<option value="student">Student</option>
  			<option value="instructor">Instructor</option>
  		</select>
  	</div>
  	<br />
  	<input type="text" name="first_name" class="form-control" placeholder="first name" required>
  	<input type="text" name="last_name" class="form-control" placeholder="last name" required>
  	<input type="text" name="email" class="form-control" placeholder="email" required>
  	<input type="text" name="username" class="form-control" placeholder="username" required>
  	<input type="password" name="password" class="form-control" placeholder="password" required>
  	<input type="password" name="password2" class="form-control" placeholder="confirm password" required>
    <div class="align-center mar-top">
      <button class="auth-submit-btn" type="submit">Sign up</button>
      <p style="font-size: 12px">Have an account already? <a href="/users/login">Log in</a></p>
    </div>
  </form>

</main>

<%- include('../partials/footer') %>
